name: Build and deploy

on:
  workflow_call:
    inputs:

      application_name:
        type: string
        required: true
        description: required to provide unique artifact name

      application_path:
        type: string
        required: true
        description: used to build the image

      image_registry:
        type: string
        required: true

      version_tag:
        type: string
        required: false
        description: Will be set as image tag instead of short sha

jobs:

    build :
      runs-on: ubuntu-latest
      outputs:
        docker_image: ${{ steps.docker_image.outputs.docker_image }}
      permissions:
        contents: write
      steps:
        - name: Checkout code
          uses: actions/checkout@v6

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_SECRET }}

        # Source - https://stackoverflow.com/a
        # Posted by Lars Grammel
        # Retrieved 2026-01-28, License - CC BY-SA 4.0
        - name: Add SHORT_SHA env property with commit short sha
          run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

        - id: docker_image # Docker image name
          run: |
            if [[ -n "${{ inputs.version_tag }}" ]]; then
              echo "docker_image=${{ inputs.image_registry }}:${{ inputs.version_tag }}" >> "$GITHUB_OUTPUT"
            else
              echo "docker_image=${{ inputs.image_registry }}:$SHORT_SHA" >> "$GITHUB_OUTPUT"
            fi

        - name: Build docker image
          run: docker build -t ${{ steps.docker_image.outputs.docker_image }} ${{ inputs.application_path }}

        - name: Push docker image
          run: docker push ${{ steps.docker_image.outputs.docker_image }}

        - name: idk
          uses: aquasecurity/trivy-action@0.33.1
          with:
            scan-type: 'image'
            image-ref: '${{ steps.docker_image.outputs.docker_image }}'
            format: 'github'
            output: 'dependency-results.sbom.json'
            github-pat: ${{ secrets.GITHUB_TOKEN }}
            severity: "MEDIUM,HIGH,CRITICAL"

        - name: Upload trivy report as a Github artifact
          uses: actions/upload-artifact@v4
          with:
            name: trivy-sbom-report-${{ inputs.application_name }}
            path: '${{ github.workspace }}/dependency-results.sbom.json'
