name: Build and deploy

on:
  workflow_call:
    inputs:
      application_path:
        type: string
      application_name:
        type: string

jobs:

    build :
      runs-on: ubuntu-latest
      outputs:
        docker_image: ${{ steps.docker_image.outputs.docker_image }}
      steps:
        - name: Checkout code
          uses: actions/checkout@v6

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_SECRET }}

        # Source - https://stackoverflow.com/a
        # Posted by Lars Grammel
        # Retrieved 2026-01-28, License - CC BY-SA 4.0
        - name: Add SHORT_SHA env property with commit short sha
          run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

        - name: Build docker image
          run: docker build -t ${{ secrets.DOCKER_REGISTRY}}:${{ inputs.application_name}}-$SHORT_SHA ${{ inputs.application_path }}

        - name: Push docker image
          run: docker push ${{ secrets.DOCKER_REGISTRY}}:${{ inputs.application_name}}-$SHORT_SHA

        - id: docker_image
          run: echo "docker_image=${{ secrets.DOCKER_REGISTRY}}:${{ inputs.application_name}}-$SHORT_SHA" >> "$GITHUB_OUTPUT"
