name: Scan Image vulnerbility
description: scan vulneraiblities

on:
  workflow_call:
    inputs:
      application_path:
        type: string


jobs:

    checkov:  # Analyse dockerfile with good practice
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "ci/.python-version"

      - name: Test with Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ${{ inputs.application_path }}
          framework: dockerfile

    hadolint:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint with hadlint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ${{ inputs.application_path }}/Dockerfile
          failure-threshold: warning
