name: Tp1 - markov

on:
  push:
    branches:
      - feature/**
jobs:
  #0. Install & cache npm deps
  # 1. Install & Cache Dependencies
  install:
    uses: ./.github/workflows/install_npm.yaml

  # 1. Lint

  # 1.1 Lint python
  lint_python:
    uses: ./.github/workflows/lint_python.yaml
    with:
      linting_path: task-manager/backend

  # 1.2 Lint javascript
  lint_js:
    needs: install
    uses: ./.github/workflows/npm_lint.yaml
    with:
      cache_key: ${{ needs.install.outputs.cache_key }}
      cache_path: ${{ needs.install.outputs.cache_path }}
      application_path: task-manager/frontend
