name: Tp CICD

on:
  push:
    branches:
      - main
jobs:

  # build image & push to registry
  build_backend:
    uses: ./.github/workflows/build_image.yaml
    with:
      application_path: task-manager/backend
      application_name: backend

  build_frontend:
    uses: ./.github/workflows/build_image.yaml
    with:
      application_path: task-manager/frontend
      application_name: frontend
