name: Tp CICD

on:
  push:
    branches:
      - main
jobs:

  # NOTE : backend & frontend build should be split to different files

  # -------- 0. Install & cache  deps ----------

  # npm
  install:
    uses: ./.github/workflows/install_npm.yaml
    with:
      application_path: task-manager/frontend

  # -------- 1. Lint -----------
  # 1. Lint

  # 1.1 Lint python
  lint_python:
    uses: ./.github/workflows/lint_python.yaml
    with:
      linting_path: task-manager/backend

  # 1.2 Lint javascript
  lint_js:
    needs: install
    uses: ./.github/workflows/lint_javascript.yaml
    with:
      cache_key: ${{ needs.install.outputs.cache_key }}
      cache_path: ${{ needs.install.outputs.cache_path }}
      application_path: task-manager/frontend

  # -------- 2. Tests (coming soon) -----------

  # -------- 3. Scan vulnerabilities -----------

  scan_vulnerabilities:
    needs:
      - lint_python
      - lint_js
    uses: ./.github/workflows/scan_vulnerabilities.yaml


  # -------- 4. Build & Push image -----------

  build_backend:
    needs: scan_vulnerabilities
    uses: ./.github/workflows/build_image.yaml
    secrets: inherit
    with:
      application_path: task-manager/backend
      application_name: backend

  build_frontend:
    needs: scan_vulnerabilities
    uses: ./.github/workflows/build_image.yaml
    secrets: inherit
    with:
      application_path: task-manager/frontend
      application_name: frontend
