name: Tp CICD

on:
  pull_request:
    branches:
      - main
jobs:

  filter_path:
    uses: ./.github/workflows/_filter_path.yaml

  scan_dependencies:
    if: needs.filter_path.outputs.backend == 'true' || needs.filter_path.outputs.frontend == 'true'
    needs:
      - filter_path
    uses: ./.github/workflows/_scan_dependencies.yaml


  build_backend:
    if: needs.filter_path.outputs.backend == 'true'
    needs:
      - filter_path
      - scan_dependencies
    secrets: inherit
    uses: ./.github/workflows/build_backend.yaml

  build_frontend:
    if: needs.filter_path.outputs.frontend == 'true'
    needs:
      - filter_path
      - scan_dependencies
    secrets: inherit
    uses: ./.github/workflows/build_frontend.yaml
