name: npm_install
description: install & cache dependencies

on:
  workflow_call:

    inputs:
      application_path:
        type: string

    outputs:
      cache_key:
        description: "Node modules cache key"
        value: ${{ jobs.install.outputs.cache_key }}
      cache_path:
        description: "Node modules cache path"
        value: ${{ jobs.install.outputs.cache_path }}

jobs:
  install:
    runs-on: ubuntu-latest
    outputs:
      cache_key: ${{ steps.cache_key.outputs.cache_key }}
      cache_path: ${{ steps.cache_path.outputs.cache_path }}

    defaults:
      run:
        working-directory: ${{ inputs.application_path }}

    steps:
      # Clone repo
      - uses: actions/checkout@v4

      # Setup Node using specific version
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      # Install deps deterministically
      - run: npm ci

      # Cache the deps & Set the cache as output
      - id: cache_key
        run: echo "cache_key=${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}" >> "$GITHUB_OUTPUT"

      - id: cache_path
        run: echo "cache_path=node_modules" >> "$GITHUB_OUTPUT"

      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ steps.cache_key.outputs.cache_key }}
