name: Scan Image vulnerbility
description: scan vulneraiblities

on:
  push:
    branches:
        - main

jobs:
    checkov:  # Analyse dockerfile with good practice
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "ci/.python-version"

      - name: Test with Checkov
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: task-manager/backend/
          framework: dockerfile

    hadolint:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint with hadlint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: task-manager/backend/Dockerfile

    build :
      runs-on: ubuntu-latest
      needs:
        - hadolint
        - checkov
      steps:
        - name: Checkout code
          uses: actions/checkout@v6


        # Source - https://stackoverflow.com/a
        # Posted by Lars Grammel
        # Retrieved 2026-01-28, License - CC BY-SA 4.0
        - name: Add SHORT_SHA env property with commit short sha
          run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

        - name: Build docker image
          run: docker build -t markoveni/task-manager:backend-$SHORT_SHA task-manager/backend

        - name: Push docker image
          run: docker push markoveni/task-manager:backend-$SHORT_SHA
