name: Scan vulnerbility
description: scan vulneraiblities with trivy

on:
  push:
    branches:
        - main

jobs:
    scan_vulnerability:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v6

        - name: run trivy
          uses: aquasecurity/trivy-action@0.33.1
          with:
            scan-type: 'fs'
            scan-ref: './task-manager'
            format: 'table'
            output: 'trivy-results.cdx'
