name: Scan vulnerbility
description: scan vulneraiblities with trivy

on:
  push:
    branches:
        - mainn

jobs:

    snyk:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "ci/.python-version"

      - name: Install deps
        working-directory: task-manager/backend
        run: pip install .

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python-3.12@master
        with:
          args: task-manager/backend
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    scan_vulnerability:
        runs-on: ubuntu-latest
        steps:

        - name: Checkout code
          uses: actions/checkout@v6

        - name: Manual Trivy Setup
          uses: aquasecurity/setup-trivy@v0.2.0
          with:
            cache: true
            version: v0.68.1

        - name: run trivy
          uses: aquasecurity/trivy-action@0.33.1
          with:
            scan-type: 'fs'
            scan-ref: './task-manager'
            format: 'table'
            output: 'trivy-results.cdx'
